@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #dbd6d0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  color:#fff;
  text-align:center;
  margin: 0;

}

.navbar {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 1rem;
  font-family: "Bevan", serif;
  text-align: center;
  background-color: #79756f;
  text-size-adjust: 100%/0.5rem;
}

li {
  display: inline-block;
  margin: 0 0.3em;
  max-width: 20em;
  padding: .6em;
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

li:hover {
  background-color: #f33;
  color: #fff;
}

body {
  margin:0;
  background-color: #79756f;
}

header {
  background-color: #79756f;
  box-sizing: border-box;
  border: 2.5px solid #595652;
}

ul {
  text-align: center;
}

a {
  text-decoration: none;
  color:#fff;
  font-size: 0.75rem;
  font-weight: normal;
}
